<div mat-dialog-content>
  <!-- Form  -->
  <form [formGroup]="displayNameForm" (ngSubmit)="onUpdate()">
    <!-- Display Name  -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Display Name
      </label>
      <input
        class="w-full shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        id="name"
        type="text"
        placeholder="Display Name"
        name="displayName"
        formControlName="displayName"
      />

      <p
        class="text-red-500 text-xs"
        *ngIf="
          this.displayNameForm.controls['displayName'].invalid &&
          this.displayNameForm.controls['displayName'].touched
        "
      >
        Please enter a valid value!
      </p>
    </div>
    <!-- button -->
    <div class="grid grid-cols-2 gap-4">
      <button
        type="button"
        class="bg-slate-50 hover:bg-slate-100 py-2 rounded-full"
        (click)="onClose()"
      >
        Cancel
      </button>
      <button
        class="bg-slate-700 hover:bg-slate-500 py-2 text-white font-bold rounded-full disabled:opacity-25"
        type="submit"
        [disabled]="!displayNameForm.valid"
      >
        <div class="flex justify-center">
          <svg
            *ngIf="isLoading"
            class="animate-spin -ml-1 h-5 w-5 mr-3 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="oppacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
          Update
        </div>
      </button>
    </div>
  </form>
</div>
