<div class="nav-bar w-full fixed z-10">
  <div
    class="shadow-md rounded-md mx-2 my-1 py-1 pl-4 flex justify-between items-center bg-slate-100"
  >
  <div class="flex">
    <div class="logo font-bold sm:text-1xl text-md">MANGA</div>
    <div *ngIf="plan" [ngClass]="plan.style" class="rounded-md text-xs py-1 px-2 mx-1">{{plan.title | uppercase }}</div>
</div>
    <!-- menu  -->
    <div class="nav-bar-list flex items-center">
      <!-- home  -->
      <div
        id="home-menu"
        routerLink="/home"
        routerLinkActive="bg-slate-700 text-white hover:bg-slate-700"
        class="py-2 sm:px-4 px-2 h-full font-bold text-sm mr-1 flex justify-center items-center hover:bg-slate-200 rounded-md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
          />
        </svg>
        <span class="hidden sm:block ml-2" >HOME</span>
      </div>

      <!-- my -->
      <div
        id="my-manga-menu"
        routerLink="/my-manga"
        routerLinkActive="bg-slate-700 text-white hover:bg-slate-700 "
        class="py-2 sm:px-4 px-2 font-bold text-sm mr-1 flex justify-center items-center hover:bg-slate-200  rounded-md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25"
          />
        </svg>

        <span class="hidden sm:block ml-2" >MY MANGA</span>
      </div>

      <!-- Log In  -->
      <button
        *ngIf="!isAuthenticated"
        routerLink="/auth"
        class="bg-slate-700 hover:bg-slate-500 text-white font-bold py-2 px-4 mr-1 rounded-md"
      >
        Log In
      </button>

      <!-- profile  -->
      <div
        id="user"
        class="py-1 px-2 mr-1 hover:bg-slate-200 rounded-md"
        [matMenuTriggerFor]="menu"
        *ngIf="isAuthenticated"
      >
        <P class="text-sm">{{ displayName }}</P>
        <p class="opacity-25 text-xs">{{ email }}</p>
      </div>

      <mat-menu #menu="matMenu" class="px-1 bg-slate-100 ">
        <div
          mat-menu-item
          class="text-xs hover:bg-slate-200 rounded-md w-full"
          (click)="openUpdateDisplayName()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4 mr-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
            />
          </svg>

          Edit Display Name
        </div>
        <div mat-menu-item class="text-xs hover:bg-slate-200 rounded-md w-full"
        (click)="openSubsciption()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4 mr-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z"
            />
          </svg>
          Subsciption
        </div>

        <div
          mat-menu-item
          class="text-xs hover:bg-slate-200 rounded-md w-full"
          (click)="authService.logout()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4 mr-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"
            />
          </svg>

          Log Out
        </div>
      </mat-menu>
    </div>
  </div>
</div>
