

.mat-menu-panel{
  transform: translateY(10px);
  max-width: 180px !important;

  .mat-menu-item {

    display: inline-flex;
    align-items: center;
  }

  .mat-elevation-z4 {
    box-shadow: none !important;
  }

}
