<div class="nav-bar w-full fixed">
  <div
    class="shadow-md rounded-md mx-2 my-1 py-1 flex justify-between items-center bg-slate-100"
  >
    <div class="flex items-center">
      <div
        (click)="onPrevious()"
        class="p-2 h-full font-bold text-sm mx-1 flex justify-center items-center hover:bg-slate-200 rounded-md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"
          />
        </svg>
      </div>
      <div>
        <div class="logo font-bold sm:text-1xl text-sm">{{ mangaName }}</div>
        <p *ngIf="!isLoading" class="text-xs text-slate-500">
          Chapter {{ contents.id }} : {{ contents.name }}
        </p>
      </div>
    </div>

    <!-- menu  -->
    <div class="nav-bar-list flex items-center">
      <!-- ///  -->
      <div
        class="p-2 h-full font-bold text-sm mr-1 flex justify-center items-center hover:bg-slate-200 rounded-md"
        (click)="openDialog()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </div>

      <!-- <- -->
      <div
        (click)="prevoiusChapter()"
        class="p-2 h-full font-bold text-sm mr-1 flex justify-center items-center hover:bg-slate-200 rounded-md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>
      </div>
      <!-- ->  -->
      <div
        (click)="nextChapter()"
        class="p-2 h-full font-bold text-sm mr-1 flex justify-center items-center hover:bg-slate-200 rounded-md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading" class="flex-col flex">
  <img
    *ngFor="let content of contents.contens"
    class="max-w-screen-lg w-full m-auto"
    [src]="content"
  />
</div>
