<div mat-dialog-content class="cursor-auto">
  <!-- header  -->
  <div class="header flex justify-between pb-4 border-b mb-4">
    <div class="text-2xl font-bold">{{ mangaDetail.name }}</div>
    <div
      (click)="onClose()"
      class="hover:bg-slate-200 rounded-full h-fit cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </div>
  </div>

  <div class="body">
    <div
      class="detail grid sm:grid-cols-3 grid-cols-1 sm:gap-4 justify-center pb-4 border-b mb-4"
    >
      <img
        class="w-full aspect-[3/4] rounded-md max:w-32 justify-center"
        [src]="mangaDetail.coverImage"
      />
      <div
        class="desc col-span-2 whitespace-pre-line text-sm text-slate-500 my-2"
      >
        <div class="flex justify-between">
          <div>
            <span
              *ngFor="let category of mangaDetail.categories"
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-gray-700 mr-2 mb-2"
              >{{ category }}</span
            >
          </div>

          <div>
            <svg
              *ngIf="isLoading"
              class="animate-spin -ml-1 h-5 w-5 text-slate-700 mx-2"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="oppacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
          </div>

          <div
            *ngIf="!isLoading && isAuthenticated"
            [ngClass]="favorite ? '' : 'opacity-25'"
            class="mx-2 cursor-pointer"
            (click)="onToggleFav()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
              />
            </svg>
          </div>
        </div>
        <p class="">
          {{ mangaDetail.desc }}
        </p>
      </div>
    </div>

    <div class="chapter">
      <!-- sortby  -->
      <div class="sortby flex justify-end items-center mb-2" (click)="sortBy()">
        <div class="cursor-pointer flex">
          <div class="text-xs">Sort By</div>
          <svg
            [@sortby]="sortByState"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m0 0l6.75-6.75M12 19.5l-6.75-6.75"
            />
          </svg>
        </div>
      </div>

      <!-- chapters  -->
      <div class="contents">
        <div
          *ngFor="let chapter of mangaDetail.chapters; let i = index"
          (click)="toContent(chapter.id)"
          class="bg-slate-100 hover:bg-slate-200 cursor-pointer w-full p-4 rounded-md flex justify-between items-center mb-2"
        >
          <!-- chapter  -->
          <div>
            <p class="text-md font-semibold">Chapter {{ chapter.id }}</p>
            <p class="text-sm text-slate-500">{{ chapter.name }}</p>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
