<div class="h-screen flex justify-center">
  <div class="self-center">
    <!-- Title  -->
    <p class="title text-5xl pb-8 font-black text-center tracking-wide">
      {{ !isLoginMode ? "SIGN UP" : "LOG IN" }}
    </p>

    <div class="w-100 flex justify-center">
      <!-- Form  -->
      <form
        class="sm:w-96 w-screen p-4"
        [formGroup]="authForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- error  -->
        <div
          *ngIf="errorMessage"
          class="bg-red-400 border border-red-400 text-white px-4 py-1 mb-6 rounded relative"
          role="alert"
        >
          <span class="block sm:inline text-sm">{{ errorMessage }}</span>
        </div>

        <!-- Display Name  -->
        <div *ngIf="!isLoginMode" class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="username"
          >
            Display Name
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="displayName"
            type="text"
            placeholder="Display Name"
            name="displayName"
            formControlName="displayName"
          />

          <p
            class="text-red-500 text-xs"
            *ngIf="
              this.authForm.controls['displayName'].invalid &&
              this.authForm.controls['displayName'].touched
            "
          >
            Please enter a valid value!
          </p>
        </div>
        <!-- Email  -->
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="username"
          >
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="email"
            type="email"
            placeholder="Email"
            name="email"
            formControlName="email"
          />

          <p
            class="text-red-500 text-xs"
            *ngIf="
              this.authForm.controls['email'].invalid &&
              this.authForm.controls['email'].touched
            "
          >
            Please enter a valid value!
          </p>
        </div>
        <!-- Password  -->
        <div class="mb-6">
          <label class="a" for="password"> Password </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            name="password"
            id="password"
            type="password"
            placeholder="Your Password"
            formControlName="password"
          />
          <p
            *ngIf="
              this.authForm.controls['password'].invalid &&
              this.authForm.controls['password'].touched
            "
            class="text-red-500 text-xs"
          >
            Please enter a valid value!
          </p>
        </div>
        <!-- button -->
        <div class="grid grid-cols-2 gap-4">
          <button
            class="bg-slate-50 hover:bg-slate-100 py-3 px-4 rounded-full text-sm"
            (click)="onSwitchMode()"
            type="button"
          >
            <div class="flex justify-around">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
                />
              </svg>
              {{ isLoginMode ? "Sign Up" : "Log In" }}
            </div>
          </button>

          <!-- -->
          <button
            class="bg-slate-700 hover:bg-slate-500 text-white font-bold py-3 px-4 rounded-full disabled:opacity-25 text-base tracking-wide"
            type="submit"
            [disabled]="this.authForm.invalid || isLoading"
          >
            <div class="flex justify-center">
              <!-- //asset  -->
              <svg
                *ngIf="isLoading"
                class="animate-spin w-6 h-6 mr-3 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="oppacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
              {{ !isLoginMode ? "Sign Up" : "Log In" }}
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
