<div id="history" class="mx-1">
  <div class=" bg-slate-100 rounded-md p-4  mx-1 ">
    <div class="flex">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <div class="mx-2 text-md font-semibold">History</div>
    </div>

    <!-- Loading  -->
    <div class="flex justify-center items-center">
      <svg
        *ngIf="isLoading"
        class="animate-spin -ml-1 h-20 w-20 text-slate-700 my-8"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="oppacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
    </div>

    <!-- Manga List History  -->
    <div class="flex w-full overflow-x-auto gap-4 my-4 p-4">
      <div
        *ngFor="let mangaItem of mangaLists"
        class="min-w-100 max-w-100 rounded-md hover:scale-95 cursor-pointer bg-white"
        (click)="openDialog(mangaItem)"
      >
        <img class="w-full aspect-[3/4] rounded-md" [src]="mangaItem.coverImage" />
        <div class="px-2 pt-2">
          <div class="text-xs font-semibold hover:font-medium mb-2">
            {{ mangaItem.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
