<app-navbar></app-navbar>
<div id="home" class="container mx-auto pt-28">
  <!-- Search  -->
  <div class="flex justify-center search mx-2 text-sm">
    <!--  -->
    <div class="search-keyword flex items-center">
      <div
        class="appearance-none border-l border-y py-2 pl-2 text-gray-700 mb-2 focus:outline-none focus:shadow-outline rounded-l"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
          />
        </svg>
      </div>
      <input
        [(ngModel)]="search"
        class="appearance-none border-r border-y w-full py-2 px-3 text-gray-700 mb-2 mr-2 focus:outline-none focus:shadow-outline rounded-r"
        type="text"
        placeholder="Search Name"
        name="search"
      />
    </div>
    <!--  -->
    <div class="min-w-fit filter flex text-xs">
      <!-- Filter  -->
      <div
        id="user"
        class="flex items-center appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-2 focus:outline-none focus:shadow-outline"
        [matMenuTriggerFor]="menu"
        (click)="getCategories()"
      >
        <P class="text-sm"> {{ selectedCategory }}</P>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="ml-2 w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
      </div>

      <mat-menu #menu="matMenu" class="px-1 shadow-md border">
        <div
          mat-menu-item
          *ngFor="let category of categories"
          class="text-sm hover:bg-slate-200 rounded-md w-full border"
          (click)="onSelect(category)"
        >
          {{ category }}
        </div>
      </mat-menu>
    </div>
  </div>

  <!-- manga list  -->
  <div class="flex justify-center items-center mt-8">
    <svg
      *ngIf="isLoading"
      class="animate-spin -ml-1 h-20 w-20 text-slate-700"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="oppacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      ></path>
    </svg>
  </div>

  <div
    class="manga-list grid sm:grid-cols-3 lg:grid-cols-6 grid-cols-2 gap-4 mx-2 my-8"
  >
    <div
      *ngFor="
        let mangaItem of mangaLists
          | searchName : search
          | filterCategory : selectedCategory
      "
      class="max-w-sm rounded overflow-hidden hover:scale-95 border cursor-pointer"
      (click)="openDialog(mangaItem)"
    >
      <img class="w-full aspect-[3/4]" [src]="mangaItem.coverImage" />
      <div class="px-4 pt-2">
        <div class="font-bold mb-2">{{ mangaItem.name }}</div>
      </div>
      <div class="px-4 pb-2 text-xs">
        <span
          *ngFor="let category of mangaItem.categories"
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-gray-700 mr-2 mb-2"
          >{{ category }}</span
        >
      </div>
    </div>
  </div>
</div>
