
  .mat-menu-panel {
    transform: translateY(10px);
    .mat-menu-item {
      display: inline-flex;
      align-items: center;
    }
  }

  .mat-elevation-z4 {
    box-shadow: none !important;
  }
