/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

// .a{
//   @apply shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline
// }

body , html {
  // font-family: 'Chango', cursive !important;
  font-family: 'Prompt', sans-serif;
}

@layer components{
  .a{
    @apply block text-gray-700 text-sm font-bold mb-2
  }
}


