<div mat-dialog-content>
  <!-- header  -->
  <div class="header flex justify-between items-center pb-4 border-b mb-4">
    <div class="text-2xl font-bold">Subscription Plans</div>
    <div
      (click)="onClose()"
      class="hover:bg-slate-200 rounded-full h-fit cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </div>
  </div>
  <!-- body  -->

  <div
    class="body grid sm:grid-cols-3 grid-cols-1 gap-2 text-slate-700 border-b pb-4 mb-4"
  >
    <div
      *ngFor="let plan of plans"
      class="border rounded-md text-center hover:shadow-md cursor-pointer"
      (click)="onClick(plan)"
      [ngClass]="selectPlan === plan ? 'border-slate-700 border-2' : ''"
    >
      <div class="p-2">
        <div [ngClass]="plan.style" class="rounded-md font-semibold p-2">
          {{ plan.title | uppercase }}
        </div>
      </div>
      <div class="pb-2">
        <div class="text-lg font-bold">{{ plan.period }} minute</div>
        <div class="text-sm text-slate-500">/ {{ plan.period * 10 }} Bath</div>
      </div>
    </div>
  </div>

  <!-- button -->
  <div class="grid grid-cols-2 gap-4">
    <button
      class="bg-slate-50 hover:bg-slate-100 py-2 rounded-full border-cyan-500"
      (click)="onClose()"
    >
      Cancel
    </button>
    <button
      class="bg-slate-700 hover:bg-slate-500 py-2 text-white font-bold rounded-full disabled:opacity-25"
      type="submit"
      [disabled]="!selectPlan || isLoading"
      (click)="addSubscription()"
    >
      <div class="flex justify-center">
        <svg
          *ngIf="isLoading"
          class="animate-spin -ml-1 h-5 w-5 mr-3 text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="oppacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        Confirm
      </div>
    </button>
  </div>
</div>
